* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background-color: grey;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 20%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: #b1351f;
    background-image: linear-gradient(to top, #ff0844 0%, #000000 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 20%;
}

.navbar_links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover {
    color: red;
    transition: all 0.3s ease;
}

body {
    height: 100vh;
}

main {
    height: 91.6%;


}

#con {
    height: 100%;


}

#left {
    background-color: aqua;
    width: 30%;
    float: left;
    height: 100%;
    text-align: center;
    padding-top: 10px;

}

#right {
    width: 70%;
    background-color: #ff0844;
    float: right;
    height: 100%;

}

.lista_item {
    margin: 5px;
}

.lista_links {
    text-decoration: none;
    color: #000000;


}


footer {
    background-color: tomato;
    height: 4.9%;
}